.heading {
    height: fit-content;
    width: 60%;
    background-image: linear-gradient(386deg, #000 10%, #3eadcf 74%);
    color: white;
    flex-direction: column;
    font-family: 'Roboto',sans-serif;
    border-radius: 25px;
    margin: 2rem 0;
    height: 100px;
    text-align: center;
    position: relative;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.qa-container {
    width: 100%;
    flex-direction: column;
}

.question {
    height: 50px;
    width: 90%;
    border-radius: 15px;
}

.answer {}

.arrow {
    width: 90%;
    height: 80%;
    transition: all 0.3s;
}

.drop-arrow {
    position: absolute;
    height: 30px;
    width: 30px;
    right: 2%;
    border-radius: 50%;
    background: white;
    cursor: pointer;
    transition: all 0.3s;
}

.drop-arrow:hover {
    background: #3eadcf;
}

.rotate {
    transform: rotate(180deg);
}

@media only screen and (max-width: 768px) {
    .question {
        height: 100px;
        width: 80%;
    }
}