#container {
    height: fit-content;
    width: 90%;
    background-color: #abe9cd;
    background-image: linear-gradient(315deg, #abe9cd 0%, #3eadcf 74%);
    display: flex;
    justify-content: center;
    color: white;
    flex-direction: column;
    font-family: 'Roboto',sans-serif;
    border-radius: 25px;
    margin: 2rem 0;
}

.title {
    padding: 1rem;
    text-align: center;
}

.generated-pass-container {
    height: fit-content;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.generated-password {
    height: 60px;
    width: 100%;
    background: white;
    margin: 1rem;
    border-radius: 1.5rem;
    border: none;
    outline: none;
    padding: 0 4rem 0 1rem;
    font-size: 1rem;
    text-overflow: ellipsis;
    color: black;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.copy-button {
    height: 60px;
    width: 110px;
    border-radius: 30px;
    background-color: #0070f6;
    box-shadow: 0 8px 32px -8px rgb(0 112 246 / 30%), 0 16px 32px -16px rgb(7 29 43 / 16%);
    cursor: pointer;
    transition-duration: 0.3s;
    margin: 1rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.copy-button:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 32px -8px rgb(0 112 246 / 100%), 0 16px 32px -16px rgb(7 29 43 / 40%);
}

.refresh-icon-container {
    position: absolute;
    right: 5%;
}

.refresh-icon {
    margin-top: 4px;
    height: 35px;
    width: 35px;
    cursor: pointer;
    outline: none;
}

.gen-contain {
    height: 60px;
    width: 40vw;
    margin: 1rem;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.refresh-icon:active {
    animation:spin 1s linear;
}

@keyframes spin {
    100% { 
        -webkit-transform: rotate(360deg); 
        transform:rotate(360deg); 
    }
}

.card-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    width: 100%;
}

@media only screen and (max-width: 768px) {
    .card-container {
        flex-direction: column;
    }

    .generated-pass-container {
        flex-direction: column;
    }

    .gen-contain {
        width: 75vw;
    }
}

.option {
    display: flex;
    justify-content: start;
    align-items: center;
    width: 300px;
}

.out-option {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.input-text{
    outline: none;
    border: none;
    height: 40px;
    width: 250px;
    border-radius: 1.5rem;
    padding: 0 1rem;
    margin: 1rem 0;
}

.checked-unchecked {
    height: 40px;
    width: 40px;
    cursor: pointer;
    margin-right: 1rem;
}

.checked-unchecked:active {
    animation:spin 0.4s linear;
}

@keyframes spin {
    100% { 
        -webkit-transform: rotateZ(360deg); 
        transform:rotateZ(360deg); 
    }
}

.info {
    height: 15px;
    width: 15px;
    margin: 5px;
    cursor: pointer;
}

.pop-modal {
    position: absolute;
    width: 250px;
    background: white;
    color: black;
    padding: 1rem;
    border-radius: 5px;
    opacity: 1;
    display: none;
    z-index: 999;
    font-family: "Comic Sans MS", sans-serif;
    font-size: 12px;
    transition: display 1s;
    right: -100%
}

.pop-modal::before {
    content: '';
    height: 20px;
    width: 20px;
    position: absolute;
    background: white;
    transform: rotateZ(
45deg
);
    top: -13%;
    right: 9%;
}

.slider-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.box-minmax {
    margin-top: 30px;
    width: 608px;
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    color: #fff;
}
.box-minmax span:first-child {
    margin-left: 10px;
}
.range-slider {
    margin-top: 30vh;
}
.rs-range {
    margin-top: 29px;
    width: 600px;
    -webkit-appearance: none;
}
.rs-range:focus {
    outline: none;
}
.rs-range::-webkit-slider-runnable-track {
    width: 100%;
    height: 1px;
    cursor: pointer;
    box-shadow: none;
    background: #fff;
    border-radius: 0px;
    border: 0px solid #010101;
}
.rs-range::-moz-range-track {
    width: 100%;
    height: 1px;
    cursor: pointer;
    box-shadow: none;
    background: #fff;
    border-radius: 0px;
    border: 0px solid #010101;
}
.rs-range::-webkit-slider-thumb {
    box-shadow: none;
    border: 0px solid #fff;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.25);
    height: 42px;
    width: 22px;
    border-radius: 22px;
    background: rgba(255, 255, 255, 1);
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -20px;
}
.rs-range::-moz-range-thumb {
    box-shadow: none;
    border: 0px solid #fff;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.25);
    height: 42px;
    width: 22px;
    border-radius: 22px;
    background: rgba(255, 255, 255, 1);
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -20px;
}
.rs-range::-moz-focus-outer {
    border: 0;
}
.rs-label {
    position: relative;
    transform-origin: center center;
    display: block;
    width: 98px;
    height: 98px;
    background: transparent;
    border-radius: 50%;
    line-height: 30px;
    text-align: center;
    font-weight: bold;
    padding-top: 22px;
    box-sizing: border-box;
    border: 2px solid #fff;
    margin-top: 20px;
    margin-left: -38px;
    left: attr(value);
    color: #fff;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 36px;
}
.rs-label::after {
    content: "kg";
    display: block;
    font-size: 20px;
    letter-spacing: 0.07em;
    margin-top: -2px;
}
